body{
	background-image: url(../img/bodyBG.png);
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	text-shadow: 2px 2px 3px #000;
}
.form-control {
	width: 50%;
	margin-top: 25px;
}
.row {
	background-image: url(../img/gifBG.jpg);
	border-radius: 10px;
	font-family: 'Permanent Marker', cursive;
}
a {
	text-decoration: none;
}
footer a {
	color: #fff;
}
/*Media Queries*/
@media(max-width: 414px) {
	h5 {
		font-size: 1rem;
	}
	.form-control {
		width: 90%;
	}
	h1 {
		font-size: 1.5rem;
	}
}